In [15]:
import pandas as pd

In [18]:
# Sample DataFrame
df = pd.DataFrame({
    'OldName1': [1, 2, 3],
    'OldName2': [4, 5, 6],
    'OldName3': [7, 8, 9]
})

In [21]:
# Print original DataFrame
print("Original DataFrame:")
print(df)

Original DataFrame:
   NewName1  NewName2  NewName3
0         1         4         7
1         2         5         8
2         3         6         9

In [22]:
# Rename all columns
df.columns = ['NewName1', 'NewName2', 'NewName3']

In [23]:
# Print updated DataFrame
print("\nDataFrame after renaming all columns:")
print(df)

DataFrame after renaming all columns:
   NewName1  NewName2  NewName3
0         1         4         7
1         2         5         8
2         3         6         9